[core]
	editor = nvim
	excludesfile = ~/.gitignore
[user]
	name = Matthew Gradidge
	email = matt.gradidge@gmail.com
[interactive]
	singleKey = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = /Users/matt/.config/dev/gitconfig
